@page "/lc"
<h3>PageLifeCyle</h3>
<button @onclick="btn">btn </button>
@code {
    protected override void OnInitialized()
    {
        
    }
    protected override void OnAfterRender(bool firstRender)
    {
      
    }
    void btn()
    {
        
    }

}
