<h1>Component</h1>
@Name

<hr />
@ChildContent

<hr />

<hr />
@Kopf

<hr />
<hr />
@Fuss

<hr />
@code {
    [EditorRequired]
    [Parameter]
    public int MyProperty { get; set; }
    [Parameter(CaptureUnmatchedValues =true)]
    public Dictionary<string,object> Alles { get; set; }
    [CascadingParameter]
    public int Wert { get; set; }

    [CascadingParameter(Name="Franz")]
    public string Name { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment Kopf { get; set; }
    [Parameter]
    public RenderFragment Fuss { get; set; }
}
