@page "/uc"
<h3>UseComponent</h3>
<CascadingValue Value="@("42")" Name="Franz">
    <CascadingValue Value="42">
        <Component @ref="comp1" MyProperty="42" Heigth="100px" hannes="hannes">
           
            <Kopf>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Geb Dat</label>
                    <div class="col-sm-10">

                        <input class="form-control" />

                    </div>
                </div>
            </Kopf>
            <Fuss></Fuss>
        </Component>
    </CascadingValue>
</CascadingValue>
@code {
    Component comp1;
    protected override void OnInitialized()
    {
        
    }
    protected override void OnAfterRender(bool firstRender)
    {
        comp1.MyProperty = 43;

    }
}
